target/classes/get-time-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get-time-implFlow" doc:id="9a8b62da-4daf-49e2-b362-8a9f106cb93e" >
		<ee:transform doc:name="Transform Message" doc:id="c142fb03-3d9d-4eae-8f9d-b6b078a66684" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
now()]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="END log" doc:id="1e57d892-3c3a-4727-959b-11fe964b3f68" message="#[payload]"/>
	</flow>
</mule>
